.lastMatches {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 8px;
  background-color: #fafaf0c9;
  border-radius: 8px;
  padding: 20px;
}

.lastMatches h1 {
  font-size: 3rem;
}

.matchCurrent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8px;
  margin: 10px 0;
}

.matchCurrent p {
  color: rgb(236, 74, 74);
  margin: 5px 0;
}
.results {

  width: 80%;
}
.game {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.game h4{
  font-size: 1.8rem;
  width: 30%;
  text-align: center;
}

.game span{
  font-size: 1.8rem;
  font-weight: bold;
}

.scoreboard-finished {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

