.match-main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-match{
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px 0px;
}
.section-match button {
  margin-top: 5px;
  background-color: rgb(37, 37, 37);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: all ease 0.4s;
}

.section-match button:hover{
  background-color: black;
}

.soccerField{
  width: 500px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.match-stats {
  margin-top: 20px;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.team-1 {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team-1 select{
  width: 120px;
  border: none;
  padding: 5px 10px;
  font-size: 0.8rem;
}
.team-1 img{
  width: 100px;
}
.team-1 h2 {
  margin: 10px 0;
}

.team-2 {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team-2 select{
  width: 120px;
  border: none;
  padding: 5px 10px;
  font-size: 0.8rem;
}
.team-2 img{
  width: 100px;
}
.team-2 h2 {
  margin: 10px 0;
}

.team-2 img{
  width: 100px;
}
.match-options{
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.times {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.times input {
  margin: 5px 0px;
  width: 20%;
}

.duration h2 {
  margin: 5px 0;
}
.duration input {
  margin: 5px 8px;
}
