.currentMatch-main{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.currentMatch-section{
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.team-goals{
  display: flex;
  gap: 100px;
  margin-top: 20px;
  background-color: aquamarine;

}
.team-goals h3 {
  text-align: center;
  margin: 10px 0;
}
.soccerfield {
  width: 500px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title-teams {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.title-teams h1 {
  font-family: soccerleague;
  font-size: 3rem;
  letter-spacing: 2px;
  margin: 5px 0px;
}

.title-teams .x {

width: 50px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
font-size: 2rem;
}

.scoreboard{
  display: flex;
  justify-content: center;
  gap: 5px;
  font-family: scoreboard;
  font-size: 1.2rem;

}

.scoreboard h3 {
  font-size: 1.8rem;
  color: red;
}

.time{
  display: flex;
  justify-content: center;
  gap: 8px;
}

.btnStart {
  margin-top: 15px;

}
.btnStart button {
  background-color: rgb(63, 209, 63);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: all ease 0.4s;
}

.players-team th {
  padding: 8px 20px;
}

.players-team tr th img {
  width: 35px;
}

.team-goals button {
  background-color: rgb(37, 37, 37);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: all ease 0.4s;
}

.teamMatch-1{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.teamMatch-2{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
