@font-face {
  font-family: Jumpoff ;
  src: url('../src/assets/fonts/JumpoffDemoRegular.ttf');
}

@font-face {
  font-family: Scoreboard;
  src: url('../src/assets/fonts/SoccerScoreboard.otf');
}

@font-face {
  font-family: SoccerLeague;
  src: url('../src/assets/fonts/SoccerLeague.ttf');
}

:root {
  --primaryColor: #ebedf0;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: var(--primaryColor);
}

