.listMatchs-main{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.listMatchs-section{
  width: 100%;

}

.match-configs{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.767);
  width: 100%;
}

.match-configs h2{
  width: 25%;
  text-align: center;
  color: #fff;
}

.match-info{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A1A2A4;
  width: 100%;
}

.match-info div{
  width: 25%;
  text-align: center;
}

.match-info h4{
  font-size: 1.2rem;
  text-align: center;

}

.match-info .teams {
  display: flex;
}

.match-info button {
  background-color: rgb(73, 189, 79);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 8px 10px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: all ease 0.4s;
}

.t {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
}
.t h4 {

  width: 33% ;
}
